:root {
  --header-height: 65px;
  
  --ribbon-max-height: 155px;
  --ribbon-min-height: 70px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  position: relative;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0px 15px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.top {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  height: 50px;
  width: auto;
  margin: 0 20px;
}

header {
  background-color: var(--main-color);
  min-height: var(--header-height);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* gap: 20px; */
  color: white;
}

header .content {
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  /* justify-content: space-between; */
  align-items: stretch;
  flex: 1;
}

header .content>* {
  flex: 1;
  position: relative;
}

header h1 {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}

header nav li {

  /* display: inline-block; */
  background-color: var(--main-color);
  margin: 0;
  padding: 0px 15px;
  height: 100%;
}

header nav li:not(:first-child):hover {
  background-color: var(--dark-main-color);
}

header nav li:first-child {
  background-color: var(--light-color);
  color: var(--main-color);
}

header nav li.current-tab {
  background-color: var(--light-grey-color);
  color: var(--dark-color);
  filter: drop-shadow(0 -30px 0 var(--dark-main-color));
}

header nav li.current-tab:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.ribbon {
  position: relative;
  /* top: 65px; */
  height: var(--ribbon-max-height);
  background-color: var(--light-color);
  border-bottom: 3px solid var(--grey-color);
  display: flex;
  padding: 10px;
  flex-direction: row;
  /* column-gap: 10px; */
  transition-property: height;
  transition-duration: .3s;
  
}

.ribbon .group {
  border-right: 1px solid var(--main-color);
  padding: 0 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.ribbon .group .buttons {
  display: flex;
}

.ribbon .group button {
  border: none;
  padding: 5px;
  line-height: 1.2;
  background-color: var(--light-color);
  position: relative;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: black;
}

.ribbon .btn-label i {
  margin-left: 3px;
}

.ribbon .group button:hover {
  background-color: var(--light-grey-color);
}

.ribbon .group .ribbon-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--main-color);
  transition-property: font-size;
  transition-duration: .2s;
}

.i {
  min-height: 60px;
  min-width: 60px;
  background-size: 50px 50px;
}

.ribbon.minified {
  height: var(--ribbon-min-height);
}

.ribbon.minified span {
  display: none;
}

.ribbon.minified i {
  min-height: 30px;
  min-width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
}

.ribbon.minified .group .ribbon-label {
  /* display: none; */
  font-size: .8rem;
}

.ribbon.minified .btn-label {
  /* display: none; */
  font-size: .9rem;
  position: absolute;
  bottom: -3px;
  right: 0;
}

.ribbon.minified .btn-label i {
  margin-left: 0;
  text-shadow: 0 0 2px var(--light-color);
}


nav.tabs {
  background-color: var(--grey-color);
  padding: 10px 10px 0 10px;
  border-bottom: 4px solid var(--main-color);
}

nav.tabs ul {
  gap: 10px;
}

nav.tabs li {
  position: relative;
  background-color: var(--light-color);
  color: var(--main-color);
  padding: 5px 5px 5px 10px;
  border-left: 2px solid var(--dark-grey-color);
  border-right: 2px solid var(--dark-grey-color);
  border-top: 2px solid var(--dark-grey-color);
  gap: 10px;

}

nav.tabs li:hover {
  background-color: var(--light-grey-color);
}

nav.tabs li.active {
  background-color: var(--main-color);
  color: var(--light-color);
}

button.close {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

li.active button.close {
  color: var(--light-color);
}

button.close:hover {
  color: var(--danger-color) !important;
}

.main {
  padding-top: 280px;
}



#tooltip {
  display: inline-block;
  /* background: var(--grey-color);
  color: var(--dark-color); */
  background: var(--light-color);
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  /* border: 1px solid var(--light-color); */
  box-shadow: 2px 2px 5px var(--dark-color);
  position: absolute;
  top: -500px;
  z-index: 0;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  z-index: -1;
  box-shadow: 2px 2px 3px var(--dark-color);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
