:root {
  --main-color: #4974a7;
  --dark-main-color: #3b628f;
  --light-color: #f7f7f7;
  --light-grey-color: #e5e5e5;
  --grey-color: #d1d1d1;
  --dark-grey-color: #bfbfbf;
  --dark-color: #787878;
  --danger-color: #d10000;
}